body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

#gameContainer {
    width: 600px;
    height: 400px;
    position: relative;
    margin: 20px auto;
    background-color: #111;
}

#spaceship {
    all: unset;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10vw; /* Dynamic resizing based on viewport width */
    max-width: 100px; /* Maximum size */
    min-width: 50px; /* Minimum size to ensure it's not too small */
    z-index: 1000; /* Ensures it's above other content, adjust as necessary */
}
